.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.header{
    grid-area: header;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aaaaf0;
    color: #fff;
    padding: 20px;
}

.header h1{
    padding-right: 20px;
}

.navi a{
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

a{
    color: rgb(141, 101, 0);    
}

.active{
    color: rgb(167, 54, 1);
    font-weight: bold;
}

a:hover{
    color: #fde400;
}

.main-container{
    height: 83vh;
    display: flex;
    width: 100%;
    color: #fff;
    background-color: darkolivegreen;
}

footer{
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
body{
    height: 100vh;
    margin: 0;
}