*{
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}


/* Header */
.header{
    grid-area: header;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aaa;
    color: #333;
    padding: 20px;
}

.header h1{
    padding-right: 20px;
}

.navi a{
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

a{
    color: rgb(141, 101, 0);    
}

.active{
    color: rgb(167, 54, 1);
    font-weight: bold;
}

a:hover{
    color: #fde400;
}

/* Main container */

.main-container{
    height: 103vh;
    display: flex;
    width: 100%;
    color: #333;
    background-color: #ddd;
}

.main-container h1{
    text-align: center;
}

.main-container h3{
    text-align: center;
    font-size: 25px;
}

.products{
    display: ruby;
    height: 45rem;
    font-size: 20px;
}

.products ul{
    list-style-type: none;
}

/* Footer */

footer{
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
}

/* Body */
body{
    height: 120vh;
    margin: 0;
}

/* Rating */

.rating{
    display: flex;
    padding: 0;
    margin: 0;
}

.rating li{
    list-style-type: none;
}

.rating-item{
    cursor: pointer;
    font-size: 2rem;
    color: #d3be00;
}

/* initial make all full */
.rating-item::before{
    content: "\2605";
}

/* make until the clicked star (rest is empty) */
.rating-item.active ~ .rating-item::before{
    content: "\2606";
}

/* on hover make all full */
.rating:hover .rating-item::before{
    content: "\2605";
}

/* make until the hovered (the rest) empty */
.rating-item:hover ~ .rating-item::before{
    content: "\2606";
}

/* Review space */
.review-div{
    display: ruby;
    margin-left: 2rem;
    width: 100%;
}

.review-div table{
    border-top:1px solid #333;
}

#review-text{
    width: 300px;
    height: 95px;
}


/* Button */
button:hover{
    cursor: pointer;
}
button{
    font: 1.2rem helvetica;
    color: #a00;
    background-color: lightcyan;
    border: 0.1rem #303030 solid;
    border-radius: 0.5rem;
}

/* Add to cart */
.addToCart{
    font-size: 35px;
    align-items: center;
}

.product-price{
    font-size: 20px;
}